name: lint-and-test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  csproto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 1.22

      - name: lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          github-token: ${{ github.token }}

      - name: test
        run: go test -v -race ./...

  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 1.22

      - name: lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          github-token: ${{ github.token }}
          working-directory: ./example

      - name: test
        run: go test -v -race ./...
        working-directory: ./example

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 1.22

      - name: protoc-gen-fastmarshal
        run: go build ./cmd/protoc-gen-fastmarshal

      - name: protodump
        run: go build ./cmd/protodump
